node-red/data/flows.json
[{"id":"d54263ad.d2bf48","type":"tab","label":"test mqtt en kafka","disabled":false,"info":""},{"id":"82a87c3b.ccd4a8","type":"tab","label":"grafana http test","disabled":false,"info":""},{"id":"6bf588f7.9aad4","type":"mqtt-broker","z":"","name":"blue.productize.be","broker":"mosquitto-productize","port":"8883","tls":"ce95efe.510c69","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ea3fc8ba.f037e8","type":"ui_group","z":"","name":"testwaarden","tab":"19436fe7.65223","order":1,"disp":true,"width":"15","collapse":true},{"id":"19436fe7.65223","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"43a7b452.59654c","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c4163d98.ba284","type":"ui_group","z":"","name":"testwaarden","tab":"f00a2cc1.d8a5f8","order":1,"disp":true,"width":"15","collapse":true},{"id":"f00a2cc1.d8a5f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ce95efe.510c69","type":"tls-config","z":"","name":"","cert":"/data/cert.pem","key":"/data/privkey.pem","ca":"/data/chain.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"bdab7678.a732c8","type":"mqtt out","z":"d54263ad.d2bf48","name":"","topic":"/home","qos":"","retain":"","broker":"43a7b452.59654c","x":438.7332458496094,"y":262.8332824707031,"wires":[]},{"id":"deecc8d6.44d6b","type":"inject","z":"d54263ad.d2bf48","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":228.73324584960938,"y":302.8332824707031,"wires":[["bdab7678.a732c8"]]},{"id":"66095c51.6895b4","type":"mqtt in","z":"d54263ad.d2bf48","name":"","topic":"/home","qos":"2","broker":"43a7b452.59654c","x":218.73324584960938,"y":362.8332824707031,"wires":[["fb8e03e.e188d","9b895ad.7ef00a8","d765545e.45dac8","52b268a2.306748"]]},{"id":"fb8e03e.e188d","type":"debug","z":"d54263ad.d2bf48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":588.7332458496094,"y":362.8332824707031,"wires":[]},{"id":"60d75d45.edb08c","type":"inject","z":"d54263ad.d2bf48","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":228.73324584960938,"y":222.83328247070312,"wires":[["bdab7678.a732c8"]]},{"id":"6fdbf9fa.0a8dd8","type":"file","z":"d54263ad.d2bf48","name":"log sensor data","filename":"/data/sensorlog.json","appendNewline":true,"createDir":false,"overwriteFile":"false","x":851.7332763671875,"y":470.833251953125,"wires":[[]]},{"id":"6e2956e9.b156c8","type":"json","z":"d54263ad.d2bf48","name":"","property":"payload","action":"","pretty":false,"x":562.7332458496094,"y":498.833251953125,"wires":[["6fdbf9fa.0a8dd8","313107bd.a7b","831cf373.3c12f"]]},{"id":"f8d57479.9935a8","type":"function","z":"d54263ad.d2bf48","name":"Modify Payload Changed","func":"var local=context.get('local') || {};\nvar topic=msg.topic;\nvar last_payload=\"\";\nif (local[topic]===undefined)//test exists\n{\n    node.log(\"not defined \"+topic);\n    payload=msg.payload;\n}\nelse{\n  \nlast_payload=local[topic];\n}\n\nnode.log(\"last payload \"+ last_payload);\nnode.log(\"This payload \"+ msg.payload);\n//msg.payload=JSON.stringify(payload);\nnode.log(JSON.stringify(local));\n//\nif (msg.payload==last_payload)\n{\nnode.log(\"same data\"+topic);\nreturn null;\n}\nelse{\nlocal[topic]=msg.payload;\nnode.log(local);\ncontext.set('local',local);\n}\n//\nvar d = new Date();\nvar t = d.getTime();\npayload={\"time\":t,\"payload\":msg.payload,\"topic\":msg.topic};\n//msg.payload=JSON.stringify(payload);\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"x":292.7332458496094,"y":551.8332824707031,"wires":[["6e2956e9.b156c8"]]},{"id":"9b895ad.7ef00a8","type":"function","z":"d54263ad.d2bf48","name":"All data","func":"\nvar topic=msg.topic;\nvar id = \"sensor 1\";\nvar d = new Date();\nvar t = d.getTime();\npayload={\"id\":id,\"time\":t,\"temperatuur\":msg.payload,\"topic\":msg.topic};\n//msg.payload=JSON.stringify(payload);\n//msg.filename=\"/home/pi/logs/data.log\";\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":440,"wires":[["6e2956e9.b156c8"]]},{"id":"d765545e.45dac8","type":"function","z":"d54263ad.d2bf48","name":"set flow variabele","func":"tmp = [];\ntmp.push(parseFloat(msg.payload));\ntmp.push(parseInt(new Date().getTime()));\n\nflow.set('t1', tmp);\nnode.status({'text': msg.payload});\n\nreturn msg;","outputs":1,"noerr":0,"x":448.7332458496094,"y":322.8332824707031,"wires":[[]]},{"id":"ef4de3d.9fcf2a","type":"ui_slider","z":"d54263ad.d2bf48","name":"","label":"slider","tooltip":"","group":"ea3fc8ba.f037e8","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":1,"x":221.73324584960938,"y":179.83328247070312,"wires":[["bdab7678.a732c8","a4fa5a99.b9c4f8"]]},{"id":"313107bd.a7b","type":"debug","z":"d54263ad.d2bf48","name":"JSON msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":833.9999084472656,"y":616.6666259765625,"wires":[]},{"id":"a4fa5a99.b9c4f8","type":"ui_numeric","z":"d54263ad.d2bf48","name":"","label":"numeric","tooltip":"","group":"ea3fc8ba.f037e8","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"100","step":1,"x":419.9999084472656,"y":179.79995727539062,"wires":[[]]},{"id":"52b268a2.306748","type":"ui_gauge","z":"d54263ad.d2bf48","name":"meter","group":"ea3fc8ba.f037e8","order":2,"width":0,"height":0,"gtype":"gage","title":"meter","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":392.9999084472656,"y":395.39996337890625,"wires":[]},{"id":"cdb296fe.838c38","type":"http in","z":"82a87c3b.ccd4a8","name":"","url":"/simplejson/query","method":"post","upload":false,"swaggerDoc":"","x":588.7332458496094,"y":262.8332824707031,"wires":[["a838c2a6.30bd6"]]},{"id":"a838c2a6.30bd6","type":"function","z":"82a87c3b.ccd4a8","name":"query response creation","func":"var out = [];\n\nfor (var id in msg.payload.targets){\n     var tmp_target = {};\n     tmp_target['target']=msg.payload.targets[id].target;\n     tmp_target['datapoints']=[flow.get('t1')];\n     \n     out.push(tmp_target);\n     }\n     msg.payload = JSON.stringify(out);\nreturn msg;","outputs":1,"noerr":0,"x":858.7332458496094,"y":262.8332824707031,"wires":[["faddd2a3.33378"]]},{"id":"faddd2a3.33378","type":"http response","z":"82a87c3b.ccd4a8","name":"","statusCode":"200","headers":{},"x":1098.7332458496094,"y":262.8332824707031,"wires":[]},{"id":"a0f3679.a3f4e98","type":"http in","z":"82a87c3b.ccd4a8","name":"","url":"/simplejson","method":"get","upload":false,"swaggerDoc":"","x":570,"y":420,"wires":[["9ce3651c.45d3c8","5684b9af.fcb24"]]},{"id":"9ce3651c.45d3c8","type":"http response","z":"82a87c3b.ccd4a8","name":"","statusCode":"200","headers":{},"x":820,"y":420,"wires":[]},{"id":"5684b9af.fcb24","type":"debug","z":"82a87c3b.ccd4a8","name":"grafana response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":360,"wires":[]},{"id":"831cf373.3c12f","type":"kafka","z":"d54263ad.d2bf48","zkquorum":"zookeeper:2181","topics":"testtopic","debug":false,"x":890,"y":360,"wires":[]}]